# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Visual Studio (Legacy)
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Binaries
implant
unit_tests
*.exe
*.dll
*.so
*.a
*.lib

# Other
*.log
*.tmp
*.bak
.DS_Store
