name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test (${{ matrix.build_type }})
    runs-on: windows-latest
    strategy:
      matrix:
        build_type: [Release]

    steps:
    - uses: actions/checkout@v3

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          build/_deps
        key: ${{ runner.os }}-deps-${{ hashFiles('**/CMakeLists.txt') }}
        restore-keys: |
          ${{ runner.os }}-deps-

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{matrix.build_type}}

    - name: Build All
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}}

    - name: Run Unit Tests
      shell: pwsh
      run: |
        cd ${{github.workspace}}/build/${{matrix.build_type}}
        D:\a\bennin-test\bennin-test\build\Release\main.exe

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-implant-${{matrix.build_type}}
        path: ${{github.workspace}}/build/${{matrix.build_type}}/main.exe
